.container {
	width: 100%;
	height: 100%;
}

.titleContainer {
	display: flex;
	justify-content: space-between;
}

.title {
	font-size: 34px;
}

.editPreviewAreasContainer {
	display: flex;
	gap: 1rem;
	height: 80vh;
}

.editPreviewArea {
	display: flex;
	flex-direction: column;
	height: 100%;
	gap: 0.5rem;
	width: 50%;
}

.textAreaContainer {
	display: flex;
	align-items: center;
	justify-content: start;
	gap: 0.5rem;
	padding: 1rem;
	border: var(--primary-color) 1px solid;
	border-radius: 0.5rem;
	background-color: var(--accent-bg);
	transition: background-color 0.25s ease, border-color 0.25s ease;
}

.textAreaContainer:focus-within {
	border: var(--terciary-color) 2px solid;
	padding: calc(1rem - 1px);
	background-color: var(--primary-bg);
}

.textAreaTag {
	color: #fff;
	background-color: transparent;
	border: none;
	outline: none;
	font-size: 16px;
	width: 100%;
	resize: none;
}

.previewWrapper {
	padding: 1rem;
	height: 100%;
	border-radius: 8px;
	background-color: #17171b;
	overflow-y: scroll;
}

.form {
	height: 100%;
}

.postOptionsContainer {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	background: var(--primary-gradient);
	border-radius: 1rem;
	padding: 12px;
	margin: 12px 0;
	position: relative;
	max-width: 256px;
}

.postOptionsContainer::before {
	content: "";
	position: absolute;
	inset: 0;
	border-radius: 1rem;
	padding: 3px;
	background: var(--border-gradient);
	-webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
	-webkit-mask-composite: xor;
	mask-composite: exclude;
	z-index: -1;
}

.postOption {
	display: flex;
	width: 100%;
	gap: 1rem;
	justify-content: space-between;
	align-items: center;
}

@media (max-width: 1024px) {
	.editPreviewAreasContainer {
		flex-direction: column;
	}

	.titleContainer {
		flex-direction: column;
		gap: 1rem;
		margin-bottom: 1rem;
	}

	.previewWrapper {
		height: 960px;
		margin-bottom: 32px;
	}

	.editPreviewArea {
		width: 100%;
	}
}
