.container {
	margin: 2rem 2rem 2rem calc(2rem + 67px);
}

.formContainer {
	display: flex;
	flex-direction: column;
	border-radius: 1rem;
	padding: 1.25rem;
	position: relative;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 1rem;
	gap: 16px;
}

@media (max-width: 768px) {
	.container {
		margin: 1rem 1rem 1rem 1rem;
	}
}
