:root {
	--primary-color: #4992ff;
	--secondary-color: #1e67d4;
	--terciary-color: #0042a5;
	--soft-color: #c2dbff;
	--primary-bg: #17171b;
	--accent-bg: #242427;
	--soft-bg: #a1a6b2;
	--primary-gradient: linear-gradient(315deg, rgba(36, 36, 39, 0.5) 0%, rgba(36, 36, 39, 1) 100%);
	--border-gradient: linear-gradient(135deg, rgba(36, 36, 39, 0.5) 0%, rgba(36, 36, 39, 1) 100%);
}

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	color: #fff;
	background-color: var(--primary-bg);
}

::placeholder {
	color: var(--soft-color);
	opacity: 1; /* Firefox */
}

::-ms-input-placeholder {
	/* Edge 12 -18 */
	color: var(--soft-color);
}
