.container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.formTag {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 50%;
}

.title {
	font-size: 34px;
}

.inputSection {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
}

.inputLabel {
	font-weight: 600;
	font-size: 16px;
}

@media (max-width: 1400px) {
	.imageContainer {
		display: none;
	}

	.mobileImageContainer {
		display: block;
	}

	.container {
		margin: 8rem 0;
	}

	.formTag {
		width: 85%;
	}
}
