.main{
    text-align: center;
}
.users{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}
.users .user{
    margin-top: 5%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.users .user .line{
    border-bottom: 2px solid #fff;
}