.container {
	margin: 2rem 2rem 2rem calc(2rem + 67px);
	height: calc(100vh - 4rem);
}

@media (max-width: 1024px) {
	.container {
		height: auto;
	}
}

@media (max-width: 768px) {
	.container {
		margin: 1rem 1rem 1rem 1rem;
	}
}
