.container {
	width: 100%;
	display: flex;
	background: var(--primary-gradient);
	border-radius: 1rem;
}

.container::before {
	content: "";
	position: absolute;
	inset: 0;
	border-radius: 1rem;
	padding: 3px;
	background: var(--border-gradient);
	-webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
	-webkit-mask-composite: xor;
	mask-composite: exclude;
	z-index: -1;
}

.postCoverContainer {
	position: relative;
	height: auto;
	width: 50vh;
}

.postCover {
	object-fit: cover;
	border-radius: 1rem 0 0 1rem;
}

.infoContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	padding: 1.25rem;
}

.titleContainer {
	display: flex;
	width: 100%;
	justify-content: space-between;
	gap: 1rem;
}

.title {
	font-size: 34px;
}

.description {
	overflow: hidden;
	margin: 0.75rem 0 1rem 0;
	width: 100%;
	height: auto;
	text-overflow: ellipsis;
}

@media (max-width: 1200px) {
	.container {
		flex-direction: column;
	}

	.postCoverContainer {
		height: 50vw;
		width: 100%;
	}

	.postCover {
		border-radius: 1rem 1rem 0 0;
	}

	.titleContainer {
		flex-direction: column;
	}

	.description {
		margin: 1rem 0;
	}
}
